
<div class= "container">
  <% @friends.each do |friend| %>
    <div class: "card " style= "width: 18rem;">
      <%= image_tag friend.avatar_url.to_s, size: "100x100" , class: "card-img-top"  %>
      <div class: "card-body">
        <em class: "card-text"><%= friend.full_name %></em>
      </div>
    </div>
  <% end %>
</div>